body {
    background-color: rgb(255, 255, 255);
    margin: auto;
  }
  /* Верхняя линия пересмотреть переделать через отступы и т.д.*/
  .header {
    width: 1600px;
    height: 80px;
    margin: auto;
    margin-bottom: -50px;
  }
  .menu-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
  }
  .web {
    color: #2196f3;
  }
  a {
    text-decoration: none;
  }
  .nav {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .studio {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
  }
  .portfolio {
    position: absolute;
    width: 76px;
    height: 16px;
    left: 552px;
    top: 32px;
  }
  .contacts {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
  }
  .nav2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mail-top {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
  }
  .tel-top {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
  }
  a:hover {
    color: #2196f3;
  }
  /* Шапка макета стили */
  main {
    margin: auto;
  }
  .shapka {
    width: 1600px;
    height: 600px;
    background: #2f303a;
    /* margin-top: -15px; */
    margin: auto;
  }
  .shapka-zag {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0;
    padding-top: 200px;
  }
  button {
    width: 210px;
    height: 56px;
    background: #2196f3;
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: #2196f3;
    margin: 0 auto;
    display: block;
    align-items: center;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
   
    letter-spacing: 0.06em;
  
    color: #ffffff;
  }
  /* Особенности */
  ul{
      list-style: none;
      padding: 0;
      
  }
  .spesial-h2{
      display: none;
  }
  .spesial{
      display: flex;
      width: 1170px;
  height: 101px;
  margin: 109px auto 94px;
  }
  .spesial h3{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  }
  .spesial li{
      margin-right: 30px;
  }
  .spesial p{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  }
  /* Чем занмаемся */
  .whatdoing{
      width: 1170px;
  height: 386px;
  margin: 0 auto;
  }
  .whatdoing h2{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
  }
  .whatdoing ul{
      display: flex;
  }
  .whatdoing li{
      margin-right: 30px;
  }
  /* Наша команда */
  .team{
      width: 1600px;
  height: 648px;
  background: #F5F4FA;
  margin: 0 auto;
  }
  .team h2{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
  }
  .team ul{
      width: 1170px;
  height: 368px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  }
  .team li{
      margin-right: 30px;
      background: #FFFFFF;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
  }
  .team h3{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  }
  .team p{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  }
  /* Footer */
  footer{
      width: 1600px;
  height: 252px;
  background: #2F303A;
  margin: 0 auto;
  }
  .logo-footer{
      padding-left: 215px;
      display: block;
      padding-top: 60px;
      font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  }
  .adress-map{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  
  color: #FFFFFF;
  }
  footer ul{
      padding-left: 215px;
      padding-top: 20px;
  }
  footer li{
      padding-top: 9px;
  }
  .footer-mt{
      font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  
  color: rgba(255, 255, 255, 0.6);
  
  }
